<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <node pkg="ntrip_ros" type="ntripclient.py" name="ntrip_ros" output="screen">
 	 <param name="rtcm_topic" value="/rtcm"/>
 	 <param name="ntrip_server" value="www.gnssdata.or.kr:2101"/>
 	 <param name="ntrip_user" value="zaxrok@gmail.com"/>
 	 <param name="ntrip_pass" value="gnss"/>
 	 <param name="ntrip_stream" value="SKMA-RTCM30" />
 	 <param name="nmea_gga" value="$GPGGA,130948.068,3734.417,N,12654.692,E,1,12,1.0,0.0,M,0.0,M,,*6F" />
  </node>
</launch>

